# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/redux-with-react/node_modules
/redux-shopping-cart/node_modules
/redux-blog-website/node_modules
/redux-with-node-async/node_modules
/redux-todo-static/node_modules
/redux-todo-with-thunk/node_modules
/toolkit-with-node/node_modules
/toolkit-yt-project/frontend/node_modules
/toolkit-yt-project/server/node_modules
/redux-dynamic-todo-thunk/node_modules
/redux-expence-tracker/frontend/node_modules
/redux-expence-tracker/server/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
